
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-bottom: 13px;
    max-height: 40px;
}
.god{
    display: flex;
    justify-content: center;
    height: 600px; 
    
    
}
.combo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 10%;
    width: 80%;
    margin: 0% 0% 0% 0%;
    
    

    
}
.container{
    display: flex;
    max-width: 50%;
    width: 500px;
    min-width: 230px;
    height: 225px;
    flex-direction: column;
    
    flex: 1;
    

    
    
    
}
p{
    margin-top: 25px;
    text-align: center;
}
.item-one{
    min-height: 40px;
    background-color: orange;
    align-self: stretch;
    margin: 0% 5% 2% 5%;
}
.item-two{
    min-height: 40px;
    background-color: green;
    align-self: stretch;
    margin: 0% 5% 2% 5%;
}
.item-three{
    min-height: 40px;
    max-height: max-content;
    background-color: white;
    align-self: stretch;
    margin: 0% 5% 0% 5%;
}
img{
   width: 100%;
}
.img{
    flex:1;
    
    min-width: 300px;
    max-width: 630px;  
      
}
